.title {
    background-color: $babyBlue;
	font-family: "Montserrat";
	text-align: center;
	color: $TextColor;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
	
}


.rainbowTxt {
	background-image: url(https://media.giphy.com/media/xT9IgN8YKRhByRBzMI/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: -webkit-xxx-large;
	line-height: .75;
    
    
   
}